/* * {
    color: red;
} */

h1{
    color: blue;
}

#id1 {
    color: rebeccapurple;
}

h2, h3 {

    color: yellow;

}


* { 
    margin: 0;
    padding: 0%;
}

.c2 { 
    width: 200px;
    height: 200px;
    background-color: yellow;

}


.c2 > p {
    color: black;
    text-decoration: overline;
}


.C2 > div > p {
    color: aqua;
    text-decoration: text underline;
}